# The true path to happiness is ignoring annoying cache dumps and other things that have NO business in repositories
# I'm side-eyeing YOU DISCORD
#
#
discord
keepassxc
GIMP
pcmanfm
VSCodium
gh
go
thefuck
nextjs-nodejs
dconf
obs-studio
pavucontrol.ini
gtk-3.0
libfm
zellij/plugins/monocle.wasm
btop/btop.log
calibre
BraveSoftware/Brave-Browser
zellij/layouts/tmp
BraveSoftware/Brave-Browser-Nightly
gh-copilot
github-copilot
nvim-kickstart
vlc
QtProject.conf
systemd/user
tmux/plugins/tmux-continuum/
tmux/plugins/tmux-resurrect/
nvim/lazy-lock.json
