# The true path to happiness is ignoring annoying cache dumps and other things that have NO business in repositories
# I'm side-eyeing YOU DISCORD
#
#
discord
keepassxc
GIMP
pcmanfm
VSCodium
gh
go
thefuck
nextjs-nodejs
dconf
obs-studio
pavucontrol.ini
gtk-3.0
libfm
zellij/plugins/monocle.wasm
btop/btop.log
calibre
BraveSoftware/Brave-Browser
zellij/layouts/tmp
BraveSoftware/Brave-Browser-Nightly
gh-copilot
github-copilot
nvim-kickstart
vlc
QtProject.conf
systemd/user
tmux/plugins/tmux-continuum/
tmux/plugins/tmux-resurrect/
nvim/lazy-lock.json
cef_user_data
unity3d/Freehold Games/CavesOfQud
tmux/plugins
tmux-powerline/tmux-client-471426.log
git/gitk
StardewValley
rncbc.org
simple-update-notifier
vesktop
unity3d/Haiku Inc/WorldofHaiku
zellij/plugins
.peaclock/history
peaclock/help.txt
peaclock/history
exercism
composer
OrcaSlicer
.isolated-storage
PrusaSlicer
Raspberry Pi
SuperSlicer
cura/5.7
unity3d/Funselektor Labs/art of rally
Creality
cataclysm-dda
unity3d/Tomlab Games/Pictopix
lazygit
nvim/lua/custom/plugins
unity3d/Alice & Smith/nt4
helix/runtime/grammars/sources
nvim-light-repo
nvim-lightLGP
obsidian
nvim/.obsidian
nvim/.obsidian
nvim-lightLGP
kdeglobals
kdenlive-layoutsrc
kdenliverc
cura/5.8
ryzen-controller
VintagestoryData
Hacknet
unity3d
Epic/ES2/Saved/SaveGames
Forager
NaosSoftware/CoffeeNoir
StoneShard
atac
Electron
bitburner
qBittorrent
dlv/.dbg_history
