"$schema" = 'https://starship.rs/config-schema.json'

format = """
$sudo$os$env_var$hostname$directory$all$cmd_duration$fill$time
$status$character
"""

# Must add ALL the package possibilities by hand because $all is forcing a newline

add_newline = false

palette = 'super_dank_af'

[palettes.super_dank_af]
user_fg = '#6FE7AE'
clock_fg = '#ffa75d'
time_fg = '#fcf77c'
char_success_fg = '#6FE7AE'
char_poobie_fg = '#be0c07'
directory_fg = '#E69875'
package_fg = '#D699B6'
package_bg = '#3C4841'
iced_out_os = '#09ecf8'

# Less neon color palette
[palettes.super_dank_mellow]

[character]
success_symbol = '[ó±ª](char_success_fg)'
error_symbol = '[îª‡](char_poobie_fg)'
vimcmd_symbol = '[îŸ…](time_fg)'
vimcmd_replace_one_symbol = '[îŸ…](time_fg)'
vimcmd_replace_symbol = '[îŸ…](char_poobie_fg)'
vimcmd_visual_symbol = '[îŸ…](user_fg)'

[cmd_duration]
format = '[\[ï€— $duration\]](time_fg)'

[directory]
style = 'directory_fg'
read_only = 'ï‘–'
read_only_style = 'char_poobie_fg'
home_symbol = '~'
truncation_length = 2
fish_style_pwd_dir_length = 1

[env_var.USER]
format = '[$env_value.](user_fg)'

[fill]
symbol = ' '

[git_branch]
symbol = 'ï˜ '
format = '[\[$symbol$branch\]](char_success_fg)'

[git_commit]
tag_symbol = 'ï’'

[git_metrics]
disabled = false
format = '(([ğš«\[](time_fg)[+$added](char_success_fg))([-$deleted](time_fg))[\]](time_fg))'

[git_status]
conflicted = 'ó±ƒŸ'
stashed = 'ó°˜“'
untracked = 'ó°¡¯'
format = '([\[$all_status$ahead_behind\]](clock_fg))'

[hostname]
ssh_only = false
ssh_symbol = 'ó°£€ '
format = '[$hostname($ssh_symbol)@](user_fg)'

[line_break]
disabled = true

[memory_usage]
threshold = 50
disabled = false
format = '[ î‰¦ $ram( | $swap)](char_poobie_fg)'

[os]
disabled = false
format = '[$symbol](iced_out_os)'

[os.symbols]
Arch = 'ïŒƒ'
NixOS = 'ïŒ“'
Ubuntu = 'ïŒ›'
Windows = 'ï…º'

[sudo]
disabled = false
format = '[ó°’ƒ ](char_poobie_fg)'

[status]
disabled = false
format = '[\[$status\]](char_poobie_fg)'

[time]
disabled = false
format = '[[ï€— ](clock_fg)$time ](time_fg)'


[aws]
format = '[\[$symbol($profile)(\($region\))(\[$duration\])\]](package_fg)'

[bun]
format = '[\[$symbol($version)]\]](package_fg)'

[c]
symbol = 'ğ—–'
format = '[\[$symbol($version(-$name))\]](package_fg)'

[cmake]
format = '[\[$symbol($version)\]](package_fg)'

[container]
symbol = 'ó°—'
format = '[\[$symbol \[$name\]](package_fg)'

[cobol]
format = '[\[$symbol($version)\]](package_fg)'

[conda]
format = '[\[$symbol$environment\]](package_fg)'

[crystal]
format = '[\[$symbol($version)\]](package_fg)'

[daml]
format = '[\[$symbol($version)\]](package_fg)'

[dart]
format = '[\[$symbol($version)\]](package_fg)'

[deno]
format = '[\[$symbol($version)\]](package_fg)'

[docker_context]
format = '[\[$symbol$context\]](package_fg)'

[dotnet]
symbol = 'ğ—–ó°£ '
format = '[\[$symbol($version)( / $tfm)\]](package_fg)'

[elixir]
format = '[\[$symbol($version \(OTP $otp_version\))\]](package_fg)'

[elm]
format = '[\[$symbol($version)\]](package_fg)'

[erlang]
format = '[\[$symbol($version)\]](package_fg)'

[fennel]
format = '[\[$symbol($version)\]](package_fg)'

[fossil_branch]
format = '[\[$symbol$branch\]](package_fg)'

[gcloud]
format = '[\[$symbol$account(@$domain)(\($region\))\]](package_fg)'

[golang]
symbol = 'î™ '
format = '[\[$symbol($version)\]](fg:package_fg)'

[gradle]
format = '[\[$symbol($version)\]](package_fg)'

[guix_shell]
format = '[\[$symbol]\](package_fg)'

[haskell]
format = '[\[$symbol($version)\]](package_fg)'

[haxe]
format = '[\[$symbol($version)\]](package_fg)'

[helm]
format = '[\[$symbol($version)\]](package_fg)'

[hg_branch]
format = '[\[$symbol$branch\]](package_fg)'

[java]
format = '[\[$symbol($version)\]](package_fg)'

[julia]
format = '[\[$symbol($version)\]](package_fg)'

[kotlin]
format = '[\[$symbol($version)\]](package_fg)'

[kubernetes]
format = '[\[$symbol$context( \($namespace\))\]](package_fg)'

[lua]
symbol = 'î˜  '
format = '[\[$symbol($version)\]](package_fg)'

[meson]
format = '[\[$symbol$project\]](package_fg)'

[nim]
format = '[\[$symbol($version)\]](package_fg)'

[nix_shell]
format = '[\[$symbol$state( \($name\))\]](package_fg)'

[nodejs]
format = '[\[$symbol($version)\]](package_fg)'

[ocaml]
format = '[\[$symbol($version)(\($switch_indicator$switch_name\))\]](package_fg)'

[opa]
format = '[\[$symbol($version)\]](package_fg)'

[openstack]
format = '[\[$symbol$cloud(\($project\))\]](package_fg)'

[package]
format = '[\[ó°— $version\]](package_fg)'

[perl]
format = '[\[$symbol($version)\]](package_fg)'

[php]
format = '[\[$symbol($version)\]](package_fg)'

[pijul_channel]
format = '[\[$symbol$channel\]](package_fg)'

[pulumi]
format = '[\[$symbol$stack\]](package_fg)'

[purescript]
format = '[\[$symbol($version)\]](package_fg)'

[python]
symbol = 'îˆµ '
format = '[\[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))\]](package_fg)'

[raku]
format = '[\[$symbol($version-$vm_version)\]](package_fg)'

[red]
format = '[\[$symbol($version)\]](package_fg)'

[ruby]
format = '[\[$symbol($version)\]](package_fg)'

[rust]
format = '[\[$symbol($version)\]](package_fg)'

[scala]
format = '[\[$symbol($version)\]](package_fg)'

[solidity]
format = '[\[$symbol($version)\]](package_fg)'

[spack]
format = '[\[$symbol$environment\]](package_fg)'

[swift]
format = '[\[$symbol($version)\]](package_fg)'

[terraform]
format = '[\[$symbol$workspace\]](package_fg)'

[vagrant]
format = '[\[$symbol($version)\]](package_fg)'

[vlang]
format = '[\[$symbol($version)\]](package_fg)'

[zig]
format = '[\[$symbol($version)\]](package_fg)'
