layout {
    // pane size=1 borderless=true {
    //  plugin location="zellij:tab-bar"
    //
    pane split_direction="horizontal" {
      pane {
        edit "hello.go"
        cwd "~/Projects/personal/learn/go_tutorials/hello"
      }
      pane command="air"
    }
    pane size=1 borderless=true {
       plugin location="zellij:status-bar"
    }
}
