layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zjstatus" {
        color_section_fg "#6FE7AE"
        color_section_bg "#3C4841"
        color_tab_norm_fg "#6FE7AE"
        color_tab_norm_bg "#3C4841"
        color_tab_norm_sync "#AAAAAA"
        color_tab_active_fg "#000000" 
        color_tab_active_bg "#6FE7AE" 
        color_tab_active_fs "#E69875"
        color_tab_active_sync "#AAAAAA"
        color_tab_trunc "#E69875"

        color_mode_fg "#333333"
        color_mode_norm "#6FE7AE"
        color_mode_locked "#E69875"
        color_mode_session "#6FE7AE"
        color_mode_resize "#E69875"
        color_mode_pane "#6FE7AE"
        color_mode_tab "#6FE7AE"
        color_mode_scroll "#6FE7AE"
        color_mode_enter_search "#6FE7AE"
        color_mode_search "#6FE7AE"
        color_mode_rename_tab "#E69875"
        color_mode_rename_pane "#E69875"
        color_mode_move "#6FE7AE"
        color_mode_prompt "#6FE7AE"

        format_left   "{mode} #[fg=$section_fg,bold,$bg=section_bg]{session}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char     "─"
        border_position "top"
        border_format   "#[fg=$green]{char}"

        tab_display_count "3"
        tab_normal   "#[fg=$tab_norm_fg,bg=$tab_norm_bg] {index}::{name} "
        tab_normal_fullscreen "#[fg=$tab_norm_fg,bg=$tab_norm_bg] {index}::{name}  "
        tab_normal_sync "#[fg=$tab_norm_sync] {index}::{name}  "
        tab_active   "#[fg=$tab_active_fg,italic,bg=$tab_active_bg] {name} "
        tab_active_fullscreen "#[fg=$tab_active_fg,italic,bg=$tab_active_bg] {name}  "
        tab_active_sync "#[fg=$tab_active_sync,bold,italic] {name}  "
        tab_separator "#[fg=$tab_trunc,bold,bg=$tab_norm_bg]󰩮"
        tab_truncate_start_format "#[fg=$tab_trunc] ☾{count}.."
        tab_truncate_end_format   "#[fg=$tab_trunc] ..{count}☽ "

        notification_show_interval           "10"
        notification_format_unread           "#[fg=$red]  #[fg=$blue] {message} "
        notification_format_no_notifications "#[fg=$red]   "

        mode_default_to_mode "locked"
        mode_normal  "#[fg=$mode_fg,bg=$mode_norm]  UNLOCKED "
        mode_locked "#[fg=$mode_fg,bg=$mode_locked]  LOCKED "
        mode_session "#[fg=$mode_fg,bg=$mode_session] 󰹑 {name} "
        mode_resize "#[fg=$mode_fg,bg=$mode_resize]  {name} "
        mode_pane "#[fg=$mode_fg,bg=$mode_pane]  {name} "
        mode_tab "#[fg=$mode_fg,bg=$mode_tab] ⭾ {name} "
        mode_scroll "#[fg=$mode_fg,bg=$mode_scroll] 󰭜 {name} "
        mode_enter_search "#[fg=$mode_fg,bg=$mode_enter_search]  {name} "
        mode_search "#[fg=$mode_fg,bg=$mode_search]  {name} "
        mode_rename_tab "#[fg=$mode_fg,bg=$mode_rename_tab] ⭾ {name} "
        mode_rename_pane "#[fg=$mode_fg,bg=$mode_rename_pane]  {name} "
        mode_move "#[fg=$mode_fg,bg=$mode_move]  {name} "
        mode_prompt "#[fg=$mode_fg,bg=$mode_prompt]  {name} "

        hide_frame_for_single_pane "true"
        format_hide_on_overlength "true"
        format_precedence "clr"


        command_git_branch_command     "git rev-parse --abbrev-ref head"
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"
        command_git_branch_format      "#[fg=$section_fg] {stdout} "

        datetime_format "  %A, %d %b %Y  %H:%M"
        datetime_timezone "America/Chicago"
        datetime        "#[fg=$section_fg,bold,bg=$tab_norm_bg]{format} "
      }
    }
  }
  tab name="Task Warrior" focus=true cwd="/home/jm" {
    pane split_direction="vertical" {
      pane size="40%" {
        pane {
          command "cbonsai"
          borderless true
          args "-li" "-t 0.5" 
        }
        pane size="30%"{
          command "peaclock"
          args "--config-dir" "/home/jm/.config/peaclock"
          name ""
        }
        pane size=4 { // pomotimer
          name "🍅 Pomo F'SHOmo 🍅"
          command "tomatoshell"
          args "-n" "6" "-t" "58" "-d" "2" "-p" "p"
          start_suspended true
        } // 6 sessions of 58m 2m break pause with p key
      }
      // stacked panes go here
      pane {
        pane stacked=true {
          pane borderless=true { // watch sync
            size 1
            command "watch"
            args "-c" "-d" "-n" "600" "task" "sync"
          }
          pane expanded=true { // task warrior
            name "Git'r Dun!"
            focus true
            command "task"
          }
        }
      }

    }
  }
  tab name="Weather Station" {
    pane {
      focus true
      name "☔ or 🌞❓"
      command "sh"
      args "/home/jm/.local/scripts/wttrIn.sh"
    }
  }
  tab name="Aquarium" {
    pane command="asciiquarium"
  }
}
