layout { 
        floating_panes hide_floating_panes=true {
            pane {
                command "task"
                args "sync"
                close_on_exit true
            }
        }
        pane split_direction="vertical"  {
        pane {
            pane split_direction="horizontal"{
                pane size="45%"{
                    command "tomatoshell"
                    args "-n" "6" "-f"
                    start_suspended true
                }
                pane {
                    command "cmatrix"
                    args "-b"
                }
            }
        }
        pane size="65%" {
            command "task"
            focus true
        }
    }
    pane size=2 borderless=true { 
        plugin location="zellij:status-bar" 
    }

}
