layout {
    pane split_direction="vertical" {
      pane command="btop"
      pane {
        focus true
        command "task"
      }
    }
  pane size=1 borderless=true {
      plugin location="zellij:status-bar"
  }
}
