layout {
  tab name="3 Day Forecast" hide_floating_panes=true {
  
  floating_panes {
    pane {
      name "Hourly Forecast"
      height "50%"
      plugin location="file:/home/jm/.config/zellij/plugins/weather-pal.wasm"
    }
  }
  pane {
    focus true
    name "☔ or 🌞❓"
    command "sh"
    args "/home/jm/.local/scripts/wttrIn.sh"
  }
  }
}
